/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.section-header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3em;
}

/* navigation bar */

.mainNav {
  position: fixed;
  width: 100%;
  background-color: #f2f2f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.navLogo {
  width: 15em;
  height: auto;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.navItem {
  list-style: none;
  margin: 0 1em 0 5em;
  font-size: 1.2em;
}

.navLink {
  text-decoration: none;
  color: #131313;
}

/* hero section */

.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8em 10em;
  background-color: #fff;
}

.bannerTitle {
  font-size: 5em;
  font-weight: bold;
  z-index: 2;
}

/* features section*/

#features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8em;
  background-color: #001477;
  z-index: 2;
  margin-bottom: 5em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-icon {
  color: #d7d7d7;
  font-size: 3em;
}

.featureTitle {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em;
  color: #fff;
}

.featureDescription {
  color: #f2f2f4;
  font-size: 1.1em;
  max-width: 15em;
}

/* products section */

#products {
  padding: 0em 10em 3em;
  position: relative;
}

.products-section-header {
  color: #000;
}

.product-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 20em;
  height: 20em;
  margin: 2em;
  background-color: #f2f2f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
}

.item:hover {
  background-color: #c4c4c4;
}

.item-photo {
  width: 8em;
  height: auto;
}

.item-title {
  margin: 0.5em 0 0 0.3em;
  font-size: 1.2em;
}

.item-price {
  font-size: 1.2em;
  font-weight: bolder;
}

/* product popup */

.product-popup {
  position: absolute;
  height: 80vh;
  width: 75vw;
  margin: 0 4.5em;
  background-color: #e8e8e8;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0px 5px 50px #232323a7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em;
  /* display: none; */
}

.product-popup-img {
  margin-left: 6em;
}

.product-info {
  width: 40%;
  font-size: 1.5em;
  line-height: 1.8em;
}
.product-info-title {
  font-size: 1.8em;
}
.product-info-price {
  font-size: 1.5em;
  line-height: 1.5em;
}

.product-info-list {
  list-style-position: inside;
}

.order-btn-call,
.order-btn-mail {
  width: 6em;
  height: 2.5em;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5em;
  font-size: 1em;
}

.order-btn-call {
  width: 5.5em;
  margin-left: 0;
}

.close-popup-btn {
  position: absolute;
  font-size: 3em;
  top: 0;
  right: 8px;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .order-btn-call:hover,
  .order-btn-mail:hover {
    background-color: #001477;
    color: #f2f2f4;
  }
  .close-popup-btn:hover {
    color: #ba0000;
  }
}

/* testimonials section */

#testimonials {
  background-color: #001477;
  color: #fff;
  padding: 1em 0em 3em;
  overflow: hidden;
}

.testimonials-section-header {
  color: #fff;
  -webkit-text-stroke: 1px solid #000000;
}

.carousel {
  position: relative;
}

.slider-btn {
  font-size: 5em;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: #c4c4c4;
  position: absolute;
  cursor: pointer;
  z-index: 3;
}

.prev-btn {
  top: 100px;
  left: 70px;
}

.next-btn {
  top: 100px;
  right: 70px;
}

.carousel-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500vw;
  transition: 1s ease-in-out;
}

.review {
  width: 30em;
  border: 3px solid #ffffff;
  border-radius: 20px;
  padding: 2em;
  margin: 5em 0;
  color: #f2f2f4;
}

/* Footer Section */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-links {
  text-decoration: none;
  color: #000;
}

.social-icons {
  margin: 20px 10px;
}
