* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainNav {
  background-color: #f2f2f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.navLogo {
  width: 15em;
  height: auto;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.navItem {
  list-style: none;
  margin: 0 1em 0 5em;
  font-size: 1.2em;
}

.navLink {
  text-decoration: none;
  color: #131313;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8em 10em;
}

.bannerTitle {
  font-size: 5em;
  font-weight: bold;
}

.bannerImg {
  width: 20em;
}
