/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3em;
}

/* navbar */

.mainNav {
  position: fixed;
  width: 100%;
  background-color: #f2f2f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.navLogo {
  width: 15em;
  height: auto;
}

.navList {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.navItem {
  list-style: none;
  margin: 0 1em 0 5em;
  font-size: 1.2em;
}

.navLink {
  text-decoration: none;
  color: #131313;
}

/* hero section */

.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8em 10em;
  background-color: #fff;
}

.bannerTitle {
  font-size: 5em;
  font-weight: bold;
  z-index: 2;
}

/* features section*/

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8em;
  background-color: #001477;
  z-index: 2;
  margin-bottom: 5em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-icon {
  color: #d7d7d7;
  font-size: 3em;
}

.featureTitle {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em;
  color: #fff;
}

.featureDescription {
  color: #f2f2f4;
  font-size: 1.1em;
  max-width: 15em;
}

/* products section */

#products {
  padding: 0em 10em 3em;
}

.products-section-header {
  color: #000;
}

.product-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 20em;
  height: 20em;
  margin: 2em;
  background-color: #f2f2f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
}

.item:hover {
  background-color: #c4c4c4;
}

.item-photo {
  width: 8em;
  height: auto;
}

.item-title {
  margin: 0.5em 0 0 0.3em;
  font-size: 1.2em;
}

.item-price {
  font-size: 1.2em;
  font-weight: bolder;
}

/* testimonials section */
/* testimonials section styles */

#testimonials {
  padding: 3em 5em;
  background-color: #001477;
}

.testimonials-section-header {
  color: #fff;
  -webkit-text-stroke: 1px solid #000000;
}

.carousel-inner {
  display: flex;
  justify-content: center;
}

.reviews {
  width: 30em;
  border: 3px solid #ffffff;
  border-radius: 20px;
  padding: 2em;
  margin: 5em 0;
  color: #f2f2f4;
}
/* Footer Section */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-links {
  text-decoration: none;
  color: #000;
}

.social-icons {
  margin: 20px 10px;
}
